{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block content %}

<div class="container mentions-legales">

    <h1>Mentions légales</h1>
    <br><br>

    <h2>1. Éditeur du site</h2><br>
    <p>
        Nom de l’entreprise : Web4All<br>
        Adresse : 123 Avenue du Web, 06200 Nice, France<br>
        Téléphone : +33 6 12 34 56 78<br>
        Email : contact@web4all.jobs<br>
        Numéro SIRET : 912 458 326 00027<br>
        Directeur de publication : Lil Hdidou
    </p><br><br>

    <h2>2. Hébergement du site</h2><br>
    <p>
        Hébergeur : CloudNest Hosting<br>
        Adresse : 145 Chemin de l'Hermitage, 06600 La Gaude, France<br>
        Téléphone : +33 6 12 23 34 45
    </p><br><br>

    <h2>3. Objet du site</h2><br>
    <p>
        Le présent site a pour objectif de mettre en relation des élèves du CESI et des entreprises dans le cadre
        de la publication et de la consultation d’offres d'emploi, de missions freelance et de stages.
    </p><br><br>

    <h2>4. Propriété intellectuelle</h2><br>
    <p>
        L’ensemble des contenus du site (textes, images, logos, éléments graphiques, mise en page, base de données)
        est la propriété exclusive de Web4All.  
        Toute reproduction, diffusion ou modification, même partielle, est strictement interdite sans autorisation écrite préalable.
    </p><br><br>

    <h2>5. Protection des données personnelles</h2><br>
    <p>
        Conformément au RGPD, les utilisateurs disposent d’un droit d’accès, de rectification, d’effacement,
        d’opposition et de portabilité concernant leurs données.  
        Ces droits peuvent être exercés à l’adresse suivante : privacy@web4all.jobs.
    </p><br>
    <p>
        Les données collectées sont destinées aux services internes de Web4All : équipe technique, équipe recrutement, équipe support.
    </p><br><br>

    <h2>6. Responsabilité</h2><br>
    <p>
        Web4All s’efforce d’assurer l’exactitude des informations publiées mais ne peut garantir l’absence
        d’erreurs ou d’omissions.  
        Web4All ne peut être tenu responsable des contenus publiés par les entreprises ou les candidats sur la plateforme.
    </p><br><br>

    <h2>7. Contact</h2><br>
    <p>
        Pour toute question concernant ces mentions légales :  
        Email : legal@web4all.jobs
    </p>

</div>

{% endblock %}